<div id="welcome-container">
  <h2>Welcome to Project PLATYPUS</h2>
  <div id="welcome-sub-title">
    <div>
      <h3>
        This is a mashup of useful techniques and utilities gathered over the
        years.
      </h3>
      <h4>Explore the cards below or use the navigation bar to the left.</h4>
    </div>
  </div>
  <div id="card-container">
    <div class="welcome-card">
      <div class="welcome-card-inner">
        <div class="welcome-card-front">
          <i class="fas fa-globe"></i>
        </div>
        <div class="welcome-card-back" routerLink="/geo">
          <h1>Geospatial</h1>
          <p>Mapping & Routing</p>
          <p>Spatial Data</p>
        </div>
      </div>
    </div>
    <div class="welcome-card">
      <div class="welcome-card-inner">
        <div class="welcome-card-front">
          <i class="fas fa-stream"></i>
        </div>
        <div class="welcome-card-back" routerLink="/data">
          <h1>ETL</h1>
          <p>Data Manipulation</p>
          <p>Information Extraction</p>
        </div>
      </div>
    </div>
    <div class="welcome-card">
      <div class="welcome-card-inner">
        <div class="welcome-card-front">
          <i class="fas fa-dna"></i>
        </div>
        <div class="welcome-card-back" routerLink="/nlp">
          <h1>NLP</h1>
          <p>Natural Language</p>
          <p>Text Processing</p>
        </div>
      </div>
    </div>
    <div class="welcome-card">
      <div class="welcome-card-inner">
        <div class="welcome-card-front">
          <i class="fas fa-drafting-compass"></i>
        </div>
        <div class="welcome-card-back" routerLink="/viz">
          <h1>Data Viz</h1>
          <p>Interactive Charting</p>
          <p>Data Exploration</p>
        </div>
      </div>
    </div>
    <div class="welcome-card">
      <div class="welcome-card-inner">
        <div class="welcome-card-front">
          <i class="far fa-compass"></i>
        </div>
        <div class="welcome-card-back" routerLink="/search">
          <h1>Search</h1>
          <p>Info Retrieval</p>
          <p>Complex Filtering</p>
        </div>
      </div>
    </div>
  </div>
</div>
