<div id="data-container">
  <!-- <div id="cardOne">
    <svg></svg>
  </div>
  <div id="cardTwo">
    <svg></svg>
  </div>
  <div id="cardThree">
    <svg></svg>
  </div>
  <div id="cardFour">
    <svg></svg>
  </div>
  <div id="cardFive" class="data-card">
    <svg></svg>
    <div id="controls"></div>
  </div> -->
  <!-- <div id="cardSix" class="data-card">
    <svg></svg>    
  </div>
  <div id="cardSeven" class="data-card">
    <svg></svg>    
  </div>
  <div id="cardEight" class="data-card">
    <svg></svg>    
  </div>
  <div id="cardNine" class="data-card">
    <svg></svg>    
  </div> -->
  <!-- <div id="cardTen" class="data-card">
    <svg></svg>    
  </div>
  <div id="cardEleven" class="data-card">
    <svg></svg>    
  </div>
  <div id="cardTwelve" class="data-card">
    <svg></svg>    
  </div>
  <div id="cardThirteen" class="data-card">
    <svg></svg>    
  </div>
  <div id="cardFourteen" class="data-card">
    <svg></svg>    
  </div>
  <div id="cardFifteen" class="data-card">
    <svg></svg>    
  </div> -->
  <div id="barViz">
    <svg width="520" height="320"></svg>
  </div>
</div>
